APP_NAME="MSIRMS"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=msirms
DB_USERNAME=postgres
DB_PASSWORD=

CACHE_STORE=file
SESSION_DRIVER=cookie

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@example.com"
MAIL_FROM_NAME="${APP_NAME}"

FRONTEND_URL=http://localhost:3000
